
    a{
        text-decoration: none !important;
    }
    hr{
        margin-top: 10px!important;
        margin-bottom: 10px!important;
    }
    .w-title{
        color: red;
        font-size: 16px;

    }
    .w-title:hover{
        background-color:#f7f9fa !important;
        color: #0E2D5F !important;
    }
    nav li a{
        font-size: 16px;
        height: 71px;
        color: #337ab7!important;
    }
    .navbar-nav>li>a {
        line-height: 37px !important;
    }

    .w-li-index{
        margin-left: 60px;
    }
    .navbar-nav li a:hover{
        background-color: darkgray !important;
        color: white !important;
    }
    .dropdown ul li a{
        height: 30px;
    }
    #w-btn-nav{
        margin-top: 18px !important;
    }

    /* 文章部分*/
    table>tfoot>tr>th{
        font-weight: lighter;
    }
    .wBox{
        width: 80%;
        margin: 20px auto;
        margin-top: 91px;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        border-radius:10px;
        box-shadow: 0 0 25px rgba(0,0,0,.13);
        padding: 20px 60px 20px 60px;

    }
    .wTitle{
        font-weight: bold;
    }
    .wTitleSm{
        font-size: 12px ;
    }
    .wArticle{
        line-height:30px;
        font-size: 16px;
        font-weight:lighter;
        font-family: 微软雅黑;
        overflow: hidden;
    }
    .wArticle p{
        text-indent: 2em;
        white-space:normal;
    }
    .wArticlePic>img{
        text-align:center;
        width: 100%;
        height: 20%;
    }
    /**小火箭**/

    /*footer*/

    .w-footer{
        background-color: #2e2e2e;
        width: 100%;
        height:200px;
        margin-top: 20px;
    }
    .wFooterCon{
        height: 100%;
        width: 70%;
        margin: 0 auto;

    }
    .wCompany{
        height: 100%;
        width: 50%;
        float: left;
    }
    .wCompany p{
        color: white;
    }
    .wAddress{
        height: 100%;
        width: 50%;
        float: left;
    }
    .wAddress1-1{
        margin-top: 6%;
    }
    .wAddress p{
        color: white;
        text-align: center;

    }






